fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
aiofiles
httpx
azure-identity
azure-search-documents
azure-storage-blob
pymongo
azure-monitor-opentelemetry
openai[datalib]>=1.3.6
tiktoken
aiohttp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-aiohttp-client
msal
msal-extensions
gunicorn
pytest
pytest-asyncio
pytest-mock
loguru

